In [1]:
#lets first start by importing pandas into the kernel
!pip install numpy==1.21.4
!pip install pandas==1.3.4
!pip install keras==2.1.6

Requirement already satisfied: numpy==1.21.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.21.4)
Requirement already satisfied: pandas==1.3.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (1.21.4)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas==1.3.4) (1.16.0)
Requirement already satisfied: keras==2.1.6 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (2.1.6)
Requirement already satisfied: numpy>=1.9.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.21.4)
Requirement already satisfied: scipy>=0.14 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.7.3)
Requirement already satisfied: six>=1.9.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.16.0)
Requirement already satisfied: pyyaml in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (6.0)
Requirement already satisfied: h5py in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (2.8.0)

In [2]:
#next we import the relevant packages
import pandas as pd 
import numpy as np

In [3]:
#next we download and read our dataset into the pandas dataframe 
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
#now lets check how many data points we have 
concrete_data.shape

(1030, 9)

In [5]:
#therefore signifying that we only have 1000 samples to train our data on. Hence, we have to be careful to avoid overfitting the model
#now we have to check for any missing values 
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
#now we have to change the target column of our data to binary for the model to be able to compute it 
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [8]:
#a quick sanity check 
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
#now to finally normalize the data by substracting the mean of the data and dividing it by its standard deviation 
predictors_norm = (predictors - predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [12]:
#now we import the Keras library to make our neural network
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [15]:
#the first line of the output from the Keras import function indicates that tensorflow was used to install the Keras Library
#now lets import the other packages that will be required
from keras.models import Sequential
from keras.layers import Dense

In [16]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [17]:
#The above code creates a model that has three hidden layers of 10 nodes each this time, and a ReLU activation function
#it also uses the adam optimizer and the mean squared error as the loss function

In [18]:
#now lets import sci-kit learn to split our data 
from sklearn.model_selection import train_test_split

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [19]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [20]:
#now lets begin making our model since our data is ready by calling the below function
model = regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [21]:
#then we fit the model using 50 epochs, repeating it like it was in part B, to see if there would be a difference in the MSE
model.fit(X_train, y_train, epochs=50, verbose=1)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/50

2024-06-04 03:41:29.292030: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2024-06-04 03:41:29.299171: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2394300000 Hz
2024-06-04 03:41:29.299722: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55bc8e02d660 executing computations on platform Host. Devices:
2024-06-04 03:41:29.299763: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2024-06-04 03:41:29.424794: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

721/721 [==============================] - 0s 495us/step - loss: 25618.6259
Epoch 2/50
721/721 [==============================] - 0s 130us/step - loss: 4791.2207
Epoch 3/50
721/721 [==============================] - 0s 115us/step - loss: 648.6471
Epoch 4/50
721/721 [==============================] - 0s 115us/step - loss: 314.2699
Epoch 5/50
721/721 [==============================] - 0s 115us/step - loss: 264.5437
Epoch 6/50
721/721 [==============================] - 0s 111us/step - loss: 240.9282
Epoch 7/50
721/721 [==============================] - 0s 108us/step - loss: 230.9222
Epoch 8/50
721/721 [==============================] - 0s 104us/step - loss: 225.9924
Epoch 9/50
721/721 [==============================] - 0s 90us/step - loss: 218.8761
Epoch 10/50
721/721 [==============================] - 0s 93us/step - loss: 214.1103
Epoch 11/50
721/721 [==============================] - 0s 83us/step - loss: 210.2160
Epoch 12/50
721/721 [==============================] - 0s 82us/step - loss: 206.4188
Epoch 13/50
721/721 [==============================] - 0s 105us/step - loss: 202.1243
Epoch 14/50
721/721 [==============================] - 0s 83us/step - loss: 199.2952
Epoch 15/50
721/721 [==============================] - 0s 85us/step - loss: 194.0041
Epoch 16/50
721/721 [==============================] - 0s 102us/step - loss: 190.5704
Epoch 17/50
721/721 [==============================] - 0s 87us/step - loss: 190.7256
Epoch 18/50
721/721 [==============================] - 0s 85us/step - loss: 182.7164
Epoch 19/50
721/721 [==============================] - 0s 83us/step - loss: 178.0443
Epoch 20/50
721/721 [==============================] - 0s 82us/step - loss: 173.9907
Epoch 21/50
721/721 [==============================] - 0s 84us/step - loss: 170.6445
Epoch 22/50
721/721 [==============================] - 0s 83us/step - loss: 166.5243
Epoch 23/50
721/721 [==============================] - 0s 85us/step - loss: 161.0303
Epoch 24/50
721/721 [==============================] - 0s 107us/step - loss: 153.3732
Epoch 25/50
721/721 [==============================] - 0s 91us/step - loss: 147.8014
Epoch 26/50
721/721 [==============================] - 0s 82us/step - loss: 142.0349
Epoch 27/50
721/721 [==============================] - 0s 99us/step - loss: 137.5743
Epoch 28/50
721/721 [==============================] - 0s 82us/step - loss: 134.1694
Epoch 29/50
721/721 [==============================] - 0s 69us/step - loss: 130.0287
Epoch 30/50
721/721 [==============================] - 0s 67us/step - loss: 127.1846
Epoch 31/50
721/721 [==============================] - 0s 97us/step - loss: 124.5520
Epoch 32/50
721/721 [==============================] - 0s 85us/step - loss: 121.5315
Epoch 33/50
721/721 [==============================] - 0s 85us/step - loss: 116.8851
Epoch 34/50
721/721 [==============================] - 0s 82us/step - loss: 115.2941
Epoch 35/50
721/721 [==============================] - 0s 83us/step - loss: 113.0208
Epoch 36/50
721/721 [==============================] - 0s 87us/step - loss: 109.4775
Epoch 37/50
721/721 [==============================] - 0s 79us/step - loss: 107.6961
Epoch 38/50
721/721 [==============================] - 0s 83us/step - loss: 105.3486
Epoch 39/50
721/721 [==============================] - 0s 80us/step - loss: 103.3546
Epoch 40/50
721/721 [==============================] - 0s 84us/step - loss: 101.2500
Epoch 41/50
721/721 [==============================] - 0s 82us/step - loss: 97.8880
Epoch 42/50
721/721 [==============================] - 0s 83us/step - loss: 96.9585
Epoch 43/50
721/721 [==============================] - 0s 82us/step - loss: 97.0460
Epoch 44/50
721/721 [==============================] - 0s 81us/step - loss: 93.1529
Epoch 45/50
721/721 [==============================] - 0s 81us/step - loss: 91.9288
Epoch 46/50
721/721 [==============================] - 0s 81us/step - loss: 90.2020
Epoch 47/50
721/721 [==============================] - 0s 83us/step - loss: 88.4976
Epoch 48/50
721/721 [==============================] - 0s 82us/step - loss: 88.5939
Epoch 49/50
721/721 [==============================] - 0s 84us/step - loss: 87.3801
Epoch 50/50
721/721 [==============================] - 0s 82us/step - loss: 85.1322

In [22]:
#next we evaluate our model on the above test data 
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 125us/step

93.64399968613313

In [23]:
#now we need to calculate the MSE between the theoretical concrete strength and the actual value
#to do this, we import the MSE function from sci-kit learn 
from sklearn.metrics import mean_squared_error

In [24]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

93.64400981737087 0.0

In [ ]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Where the total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 122.6476550796657
MSE 2: 127.85573767998457
MSE 3: 84.61329418787292
MSE 4: 71.52893136774452
MSE 5: 55.8751027869561
MSE 6: 53.181778460258805
MSE 7: 52.377241190197395
MSE 8: 38.63750350359574
MSE 9: 38.710560054840776
MSE 10: 39.536511171211316
MSE 11: 34.70012922811662
MSE 12: 30.880579618188555
MSE 13: 36.87611111390938
MSE 14: 35.500259226579885
MSE 15: 28.524648123188697
MSE 16: 25.23442879772495
MSE 17: 28.10884404722541
MSE 18: 30.512330379300906
MSE 19: 26.602998048356437