In [2]:
#lets first start by importing pandas into the kernel
!pip install numpy==1.21.4
!pip install pandas==1.3.4
!pip install keras==2.1.6

Collecting numpy==1.21.4
  Downloading numpy-1.21.4-cp37-cp37m-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (15.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.7/15.7 MB 62.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: numpy
  Attempting uninstall: numpy
    Found existing installation: numpy 1.21.6
    Uninstalling numpy-1.21.6:
      Successfully uninstalled numpy-1.21.6
Successfully installed numpy-1.21.4
Collecting pandas==1.3.4
  Downloading pandas-1.3.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.3/11.3 MB 87.7 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (1.21.4)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas==1.3.4) (1.16.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.3.5
    Uninstalling pandas-1.3.5:
      Successfully uninstalled pandas-1.3.5
Successfully installed pandas-1.3.4
Requirement already satisfied: keras==2.1.6 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (2.1.6)
Requirement already satisfied: numpy>=1.9.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.21.4)
Requirement already satisfied: scipy>=0.14 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.7.3)
Requirement already satisfied: six>=1.9.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.16.0)
Requirement already satisfied: pyyaml in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (6.0)
Requirement already satisfied: h5py in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (2.8.0)

In [1]:
#next we import the relevant packages
import pandas as pd 
import numpy as np

In [2]:
#next we download and read our dataset into the pandas dataframe 
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
#now lets check how many data points we have 
concrete_data.shape

(1030, 9)

In [4]:
#therefore signifying that we only have 1000 samples to train our data on. Hence, we have to be careful to avoid overfitting the model
#now we have to check for any missing values 
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
#now we have to change the target column of our data to binary for the model to be able to compute it 
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
#a quick sanity check 
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [ ]:
#now lets import Keras to start building our model
import keras

In [11]:
#the first line of the utput from the Keras import function indicates that tensorflow was used to install the Keras Library
#now lets import the other packages that will be required
from keras.models import Sequential
from keras.layers import Dense

In [28]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [13]:
#The above code creates a model that has one hidden layer of 10 nodes, and a ReLU activation function
#it also uses the adam optimizer and the mean squared error as the loss function

In [29]:
#now lets import sci-kit learn to split our data 
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [31]:
#now lets begin making our model since our data is ready by calling the below function
model = regression_model()

In [32]:
#then we fit the model 
model.fit(X_train, y_train, epochs=50, verbose=1)

Epoch 1/50
721/721 [==============================] - 0s 293us/step - loss: 81044.7787
Epoch 2/50
721/721 [==============================] - 0s 106us/step - loss: 21486.1903
Epoch 3/50
721/721 [==============================] - 0s 102us/step - loss: 5673.7667
Epoch 4/50
721/721 [==============================] - 0s 114us/step - loss: 3851.0514
Epoch 5/50
721/721 [==============================] - 0s 87us/step - loss: 3604.5297
Epoch 6/50
721/721 [==============================] - 0s 87us/step - loss: 3383.3106
Epoch 7/50
721/721 [==============================] - 0s 73us/step - loss: 3173.0359
Epoch 8/50
721/721 [==============================] - 0s 71us/step - loss: 2904.3402
Epoch 9/50
721/721 [==============================] - 0s 64us/step - loss: 2493.0272
Epoch 10/50
721/721 [==============================] - 0s 73us/step - loss: 2184.5313
Epoch 11/50
721/721 [==============================] - 0s 60us/step - loss: 1946.6050
Epoch 12/50
721/721 [==============================] - 0s 71us/step - loss: 1776.3710
Epoch 13/50
721/721 [==============================] - 0s 62us/step - loss: 1636.4048
Epoch 14/50
721/721 [==============================] - 0s 56us/step - loss: 1525.6535
Epoch 15/50
721/721 [==============================] - 0s 71us/step - loss: 1424.8439
Epoch 16/50
721/721 [==============================] - 0s 58us/step - loss: 1333.5949
Epoch 17/50
721/721 [==============================] - 0s 56us/step - loss: 1253.4222
Epoch 18/50
721/721 [==============================] - 0s 58us/step - loss: 1173.5686
Epoch 19/50
721/721 [==============================] - 0s 56us/step - loss: 1102.6138
Epoch 20/50
721/721 [==============================] - 0s 56us/step - loss: 1042.4658
Epoch 21/50
721/721 [==============================] - 0s 70us/step - loss: 984.3586
Epoch 22/50
721/721 [==============================] - 0s 58us/step - loss: 946.3691
Epoch 23/50
721/721 [==============================] - 0s 58us/step - loss: 890.5989
Epoch 24/50
721/721 [==============================] - 0s 55us/step - loss: 844.1811
Epoch 25/50
721/721 [==============================] - 0s 56us/step - loss: 814.0112
Epoch 26/50
721/721 [==============================] - 0s 56us/step - loss: 776.6077
Epoch 27/50
721/721 [==============================] - 0s 74us/step - loss: 746.1287
Epoch 28/50
721/721 [==============================] - 0s 52us/step - loss: 717.1757
Epoch 29/50
721/721 [==============================] - 0s 56us/step - loss: 694.8842
Epoch 30/50
721/721 [==============================] - 0s 62us/step - loss: 668.7950
Epoch 31/50
721/721 [==============================] - 0s 72us/step - loss: 648.9759
Epoch 32/50
721/721 [==============================] - 0s 58us/step - loss: 632.2401
Epoch 33/50
721/721 [==============================] - 0s 57us/step - loss: 610.9157
Epoch 34/50
721/721 [==============================] - 0s 57us/step - loss: 594.5630
Epoch 35/50
721/721 [==============================] - 0s 69us/step - loss: 578.2007
Epoch 36/50
721/721 [==============================] - 0s 56us/step - loss: 567.4085
Epoch 37/50
721/721 [==============================] - 0s 56us/step - loss: 552.0658
Epoch 38/50
721/721 [==============================] - 0s 56us/step - loss: 537.2407
Epoch 39/50
721/721 [==============================] - 0s 56us/step - loss: 523.1727
Epoch 40/50
721/721 [==============================] - 0s 56us/step - loss: 513.9339
Epoch 41/50
721/721 [==============================] - 0s 56us/step - loss: 501.3403
Epoch 42/50
721/721 [==============================] - 0s 57us/step - loss: 498.4957
Epoch 43/50
721/721 [==============================] - 0s 58us/step - loss: 484.7982
Epoch 44/50
721/721 [==============================] - 0s 55us/step - loss: 474.1872
Epoch 45/50
721/721 [==============================] - 0s 58us/step - loss: 469.1050
Epoch 46/50
721/721 [==============================] - 0s 59us/step - loss: 463.3642
Epoch 47/50
721/721 [==============================] - 0s 61us/step - loss: 450.1786
Epoch 48/50
721/721 [==============================] - 0s 69us/step - loss: 445.5530
Epoch 49/50
721/721 [==============================] - 0s 58us/step - loss: 438.6476
Epoch 50/50
721/721 [==============================] - 0s 55us/step - loss: 429.0640

In [33]:
#next we evaluate our model on the above test data 
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 101us/step

478.4595581844787

In [34]:
#now we need to calculate the MSE between the theoretical concrete strength and the actual value
#to do this, we import the MSE function from sci-kit learn 
from sklearn.metrics import mean_squared_error

In [35]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

478.459536246451 0.0

In [40]:
total_mean_squared_errors = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

NameError: name 'predictors_norm' is not defined