In [1]:
#lets first start by importing pandas into the kernel
!pip install numpy==1.21.4
!pip install pandas==1.3.4
!pip install keras==2.1.6

Requirement already satisfied: numpy==1.21.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.21.4)
Requirement already satisfied: pandas==1.3.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (2023.3)
Requirement already satisfied: numpy>=1.17.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas==1.3.4) (1.21.4)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas==1.3.4) (1.16.0)
Requirement already satisfied: keras==2.1.6 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (2.1.6)
Requirement already satisfied: numpy>=1.9.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.21.4)
Requirement already satisfied: scipy>=0.14 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.7.3)
Requirement already satisfied: six>=1.9.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (1.16.0)
Requirement already satisfied: pyyaml in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (6.0)
Requirement already satisfied: h5py in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from keras==2.1.6) (2.8.0)

In [2]:
#next we import the relevant packages
import pandas as pd 
import numpy as np

In [3]:
#next we download and read our dataset into the pandas dataframe 
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [4]:
#now lets check how many data points we have 
concrete_data.shape

(1030, 9)

In [5]:
#therefore signifying that we only have 1000 samples to train our data on. Hence, we have to be careful to avoid overfitting the model
#now we have to check for any missing values 
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
#now we have to change the target column of our data to binary for the model to be able to compute it 
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [8]:
#a quick sanity check 
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
#now to finally normalize the data by substracting the mean of the data and dividing it by its standard deviation 
predictors_norm = (predictors - predictors.mean())/predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [12]:
#now we import the Keras library to make our neural network
import keras

Using TensorFlow backend.
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [13]:
#the first line of the utput from the Keras import function indicates that tensorflow was used to install the Keras Library
#now lets import the other packages that will be required
from keras.models import Sequential
from keras.layers import Dense

In [14]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [15]:
#The above code creates a model that has one hidden layer of 10 nodes, and a ReLU activation function
#it also uses the adam optimizer and the mean squared error as the loss function

In [16]:
#now lets import sci-kit learn to split our data 
from sklearn.model_selection import train_test_split

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/sklearn/utils/validation.py:37: DeprecationWarning: distutils Version classes are deprecated. Use packaging.version instead.
  LARGE_SPARSE_SUPPORTED = LooseVersion(scipy_version) >= '0.14.0'

In [17]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [18]:
#now lets begin making our model since our data is ready by calling the below function
model = regression_model()

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:68: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:508: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:3837: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/optimizers.py:757: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [19]:
#then we fit the model but this time we use 100 epochs instead of 50 to see if there would be a difference in the MSE
model.fit(X_train, y_train, epochs=100, verbose=1)

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:977: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:964: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/100
 32/721 [>.............................] - ETA: 4s - loss: 733995.5000

2024-06-04 03:27:46.480565: I tensorflow/core/platform/cpu_feature_guard.cc:142] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 AVX512F FMA
2024-06-04 03:27:46.485677: I tensorflow/core/platform/profile_utils/cpu_utils.cc:94] CPU Frequency: 2394300000 Hz
2024-06-04 03:27:46.486246: I tensorflow/compiler/xla/service/service.cc:168] XLA service 0x55f6a8e15120 executing computations on platform Host. Devices:
2024-06-04 03:27:46.486299: I tensorflow/compiler/xla/service/service.cc:175]   StreamExecutor device (0): <undefined>, <undefined>
2024-06-04 03:27:46.559033: W tensorflow/compiler/jit/mark_for_compilation_pass.cc:1412] (One-time warning): Not using XLA:CPU for cluster because envvar TF_XLA_FLAGS=--tf_xla_cpu_global_jit was not set.  If you want XLA:CPU, either set that envvar, or use experimental_jit_scope to enable XLA:CPU.  To confirm that XLA is active, pass --vmodule=xla_compilation_cache=1 (as a proper command-line flag, not via TF_XLA_FLAGS) or set the envvar XLA_FLAGS=--xla_hlo_profile.

721/721 [==============================] - 0s 364us/step - loss: 617932.4717
Epoch 2/100
721/721 [==============================] - 0s 108us/step - loss: 349224.2145
Epoch 3/100
721/721 [==============================] - 0s 86us/step - loss: 163159.1868
Epoch 4/100
721/721 [==============================] - 0s 105us/step - loss: 64582.8372
Epoch 5/100
721/721 [==============================] - 0s 88us/step - loss: 23374.8790
Epoch 6/100
721/721 [==============================] - 0s 82us/step - loss: 9714.8528
Epoch 7/100
721/721 [==============================] - 0s 81us/step - loss: 6476.7309
Epoch 8/100
721/721 [==============================] - 0s 62us/step - loss: 5761.8368
Epoch 9/100
721/721 [==============================] - 0s 63us/step - loss: 5574.4076
Epoch 10/100
721/721 [==============================] - 0s 74us/step - loss: 5425.8446
Epoch 11/100
721/721 [==============================] - 0s 60us/step - loss: 5271.7485
Epoch 12/100
721/721 [==============================] - 0s 61us/step - loss: 5121.4075
Epoch 13/100
721/721 [==============================] - 0s 70us/step - loss: 4965.7839
Epoch 14/100
721/721 [==============================] - 0s 55us/step - loss: 4811.5613
Epoch 15/100
721/721 [==============================] - 0s 59us/step - loss: 4666.4002
Epoch 16/100
721/721 [==============================] - 0s 57us/step - loss: 4514.1439
Epoch 17/100
721/721 [==============================] - 0s 53us/step - loss: 4369.5624
Epoch 18/100
721/721 [==============================] - 0s 56us/step - loss: 4225.5907
Epoch 19/100
721/721 [==============================] - 0s 58us/step - loss: 4088.9510
Epoch 20/100
721/721 [==============================] - 0s 56us/step - loss: 3955.3881
Epoch 21/100
721/721 [==============================] - 0s 55us/step - loss: 3821.8161
Epoch 22/100
721/721 [==============================] - 0s 55us/step - loss: 3696.8530
Epoch 23/100
721/721 [==============================] - 0s 66us/step - loss: 3571.7640
Epoch 24/100
721/721 [==============================] - 0s 58us/step - loss: 3451.9599
Epoch 25/100
721/721 [==============================] - 0s 56us/step - loss: 3341.9360
Epoch 26/100
721/721 [==============================] - 0s 62us/step - loss: 3226.2746
Epoch 27/100
721/721 [==============================] - 0s 97us/step - loss: 3121.4153
Epoch 28/100
721/721 [==============================] - 0s 94us/step - loss: 3018.8878
Epoch 29/100
721/721 [==============================] - 0s 54us/step - loss: 2919.8179
Epoch 30/100
721/721 [==============================] - 0s 59us/step - loss: 2827.4807
Epoch 31/100
721/721 [==============================] - 0s 65us/step - loss: 2734.5118
Epoch 32/100
721/721 [==============================] - 0s 57us/step - loss: 2646.1954
Epoch 33/100
721/721 [==============================] - 0s 56us/step - loss: 2563.1259
Epoch 34/100
721/721 [==============================] - 0s 60us/step - loss: 2485.7877
Epoch 35/100
721/721 [==============================] - 0s 53us/step - loss: 2408.6260
Epoch 36/100
721/721 [==============================] - 0s 52us/step - loss: 2340.1364
Epoch 37/100
721/721 [==============================] - 0s 61us/step - loss: 2267.1157
Epoch 38/100
721/721 [==============================] - 0s 48us/step - loss: 2200.8640
Epoch 39/100
721/721 [==============================] - 0s 57us/step - loss: 2136.7961
Epoch 40/100
721/721 [==============================] - 0s 61us/step - loss: 2072.8011
Epoch 41/100
721/721 [==============================] - 0s 48us/step - loss: 2013.6703
Epoch 42/100
721/721 [==============================] - 0s 68us/step - loss: 1958.5598
Epoch 43/100
721/721 [==============================] - 0s 57us/step - loss: 1903.0924
Epoch 44/100
721/721 [==============================] - 0s 53us/step - loss: 1848.7507
Epoch 45/100
721/721 [==============================] - 0s 56us/step - loss: 1797.6904
Epoch 46/100
721/721 [==============================] - 0s 56us/step - loss: 1749.1180
Epoch 47/100
721/721 [==============================] - 0s 57us/step - loss: 1706.2608
Epoch 48/100
721/721 [==============================] - 0s 54us/step - loss: 1660.7014
Epoch 49/100
721/721 [==============================] - 0s 52us/step - loss: 1616.4414
Epoch 50/100
721/721 [==============================] - 0s 58us/step - loss: 1571.5461
Epoch 51/100
721/721 [==============================] - 0s 66us/step - loss: 1532.1181
Epoch 52/100
721/721 [==============================] - 0s 43us/step - loss: 1493.0759
Epoch 53/100
721/721 [==============================] - 0s 52us/step - loss: 1454.2881
Epoch 54/100
721/721 [==============================] - 0s 54us/step - loss: 1417.6810
Epoch 55/100
721/721 [==============================] - 0s 57us/step - loss: 1381.8093
Epoch 56/100
721/721 [==============================] - 0s 67us/step - loss: 1348.9486
Epoch 57/100
721/721 [==============================] - 0s 43us/step - loss: 1315.7553
Epoch 58/100
721/721 [==============================] - 0s 53us/step - loss: 1281.2818
Epoch 59/100
721/721 [==============================] - 0s 40us/step - loss: 1250.2579
Epoch 60/100
721/721 [==============================] - 0s 57us/step - loss: 1223.1016
Epoch 61/100
721/721 [==============================] - 0s 65us/step - loss: 1190.3073
Epoch 62/100
721/721 [==============================] - 0s 60us/step - loss: 1160.6704
Epoch 63/100
721/721 [==============================] - 0s 53us/step - loss: 1134.1080
Epoch 64/100
721/721 [==============================] - 0s 51us/step - loss: 1104.5602
Epoch 65/100
721/721 [==============================] - 0s 39us/step - loss: 1077.3559
Epoch 66/100
721/721 [==============================] - 0s 53us/step - loss: 1056.9470
Epoch 67/100
721/721 [==============================] - 0s 51us/step - loss: 1027.4987
Epoch 68/100
721/721 [==============================] - 0s 49us/step - loss: 1005.4373
Epoch 69/100
721/721 [==============================] - 0s 51us/step - loss: 981.7948
Epoch 70/100
721/721 [==============================] - 0s 44us/step - loss: 953.3232
Epoch 71/100
721/721 [==============================] - 0s 51us/step - loss: 931.5932
Epoch 72/100
721/721 [==============================] - 0s 51us/step - loss: 911.8571
Epoch 73/100
721/721 [==============================] - 0s 59us/step - loss: 886.5840
Epoch 74/100
721/721 [==============================] - 0s 50us/step - loss: 865.8038
Epoch 75/100
721/721 [==============================] - 0s 56us/step - loss: 845.3046
Epoch 76/100
721/721 [==============================] - 0s 54us/step - loss: 825.2518
Epoch 77/100
721/721 [==============================] - 0s 54us/step - loss: 805.1072
Epoch 78/100
721/721 [==============================] - 0s 52us/step - loss: 784.0470
Epoch 79/100
721/721 [==============================] - 0s 61us/step - loss: 766.2723
Epoch 80/100
721/721 [==============================] - 0s 64us/step - loss: 748.5695
Epoch 81/100
721/721 [==============================] - 0s 62us/step - loss: 729.8510
Epoch 82/100
721/721 [==============================] - 0s 58us/step - loss: 715.2844
Epoch 83/100
721/721 [==============================] - 0s 59us/step - loss: 697.3388
Epoch 84/100
721/721 [==============================] - 0s 51us/step - loss: 678.5060
Epoch 85/100
721/721 [==============================] - 0s 54us/step - loss: 663.6411
Epoch 86/100
721/721 [==============================] - 0s 55us/step - loss: 646.4653
Epoch 87/100
721/721 [==============================] - 0s 54us/step - loss: 630.6320
Epoch 88/100
721/721 [==============================] - 0s 54us/step - loss: 614.5878
Epoch 89/100
721/721 [==============================] - 0s 52us/step - loss: 600.7146
Epoch 90/100
721/721 [==============================] - 0s 53us/step - loss: 588.0280
Epoch 91/100
721/721 [==============================] - 0s 53us/step - loss: 573.2572
Epoch 92/100
721/721 [==============================] - 0s 49us/step - loss: 561.7545
Epoch 93/100
721/721 [==============================] - 0s 52us/step - loss: 545.7605
Epoch 94/100
721/721 [==============================] - 0s 53us/step - loss: 533.0536
Epoch 95/100
721/721 [==============================] - 0s 45us/step - loss: 522.0446
Epoch 96/100
721/721 [==============================] - 0s 44us/step - loss: 508.5727
Epoch 97/100
721/721 [==============================] - 0s 66us/step - loss: 496.4095
Epoch 98/100
721/721 [==============================] - 0s 55us/step - loss: 486.9007
Epoch 99/100
721/721 [==============================] - 0s 56us/step - loss: 475.5853
Epoch 100/100
721/721 [==============================] - 0s 57us/step - loss: 463.1882

In [20]:
#next we evaluate our model on the above test data 
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 82us/step

437.7695231514841

In [21]:
#now we need to calculate the MSE between the theoretical concrete strength and the actual value
#to do this, we import the MSE function from sci-kit learn 
from sklearn.metrics import mean_squared_error

In [22]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

437.7696380642692 0.0

In [23]:
total_mean_squared_errors = 50
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Where the total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 158.82507171137047
MSE 2: 143.28765444462354
MSE 3: 114.83249328514519
MSE 4: 121.83736518440124
MSE 5: 119.68823464402875
MSE 6: 92.8761249036079
MSE 7: 83.65328317784183
MSE 8: 53.261096571641446
MSE 9: 54.14182755553607
MSE 10: 47.61375477861818
MSE 11: 43.72839244361062
MSE 12: 39.95623829912599
MSE 13: 46.13313890352218
MSE 14: 45.28889776433556
MSE 15: 39.048601687533186
MSE 16: 32.57982870675985
MSE 17: 39.121373691990925
MSE 18: 37.17320140357156
MSE 19: 38.78096445324351
MSE 20: 37.467617257127486
MSE 21: 34.31789067339357
MSE 22: 33.76735569358258
MSE 23: 31.754065751257837
MSE 24: 34.42691728906724
MSE 25: 36.15045268481603
MSE 26: 35.815947807336705
MSE 27: 33.50938898228519
MSE 28: 30.679457735475214
MSE 29: 37.6245538779447
MSE 30: 35.35593146413661
MSE 31: 33.49633486602684
MSE 32: 33.37761882670875
MSE 33: 32.80212609744766
MSE 34: 36.246828048360385
MSE 35: 36.21572690797083
MSE 36: 38.795744257065856
MSE 37: 32.93612720279632
MSE 38: 36.053269765909434
MSE 39: 32.782885826135534
MSE 40: 28.538507245505127
MSE 41: 38.65506583278619
MSE 42: 34.064899642104855
MSE 43: 33.125415277326766
MSE 44: 39.20405129244413
MSE 45: 37.37629482429776
MSE 46: 37.07814724622807
MSE 47: 36.52536316905593
MSE 48: 37.10725071978029
MSE 49: 34.75917539010156
MSE 50: 37.8110000709114


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Where the total number of epochs for each training is: 100

Mean: 48.79297865665635
Standard Deviation: 30.260643609154133